
html {
	scroll-behavior: smooth;
}
.nature-background {
  background-image: url("https://bit.ly/2X40bAY");
  background-size: cover;
  background-position: center;
}

#pricing .card {
  transition: all 200ms ease;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0px 10px 35px rgba(black, 0.1);
  }
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}